<h2 class="pageHeader">All Managers</h2>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>

    #foreach($manager in $managers)
    <tr>
        <td>$manager.getFirstName()</td>
        <td>$manager.getLastName()</td>
        <td><a href="managers/$manager.getId()">View</a></td>
    </tr>
    #end
    <tr><td colspan="3"><hr/></td></tr>
    <tr><td><a href="/managers/new">New</a></td></tr>

</table><br><br>
<a href="javascript:history.back()">Go Back</a>